*{
    margin: 0;
    padding: 0;
    /* background-color: red; */
}
aside{
    position: fixed;
    right: 30px;
    bottom: 80px;
    /* overflow: hidden; */
}
aside>ul{
    list-style: none
}
aside>ul>li{
    cursor: pointer;
    border-radius: 50%;
    margin-top: 10px;
    position: relative;
    display: block;
    /* border: 1px solid #000; */
}
aside li>img{
    width:48px;
    height: 48px;
    cursor: pointer;
}
.my{
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    /* color: yellow; */
}
aside>ul>li:nth-of-type(2)>div{
    background-color:rgba(0,0,0,0.6);
    margin: 0px 16px 0px 0px;
    color: white;
    font-size: 14px;
    position: absolute;
    width: 88px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 0px;
    right: 48px;
    white-space: nowrap;
    display: none;
}
aside>ul>li:nth-of-type(2)>div>div{
    position: relative;
    transform: translate(50%);
    left: 50%;
    top: -30px;
     border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.6);
}
aside>ul>li:nth-of-type(3)>div{
    background-color: #fff;
    font-size: 14px;
    position: absolute;
    width: 150px;
    text-align: center;
    line-height: 40px;
    top: -60px;
    right: 48px;
    display: none;
}
aside>ul>li:nth-of-type(3)>div>ul{
    list-style: none;
}
aside>ul>li:nth-of-type(4)>div{
    background-color:rgba(0,0,0,0.6);
    color: white;
    margin: 0px 16px 0px 0px;
    font-size: 14px;
    position: absolute;
    width: 88px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 0px;
    right: 48px;
    white-space: nowrap;
    display: none;
}
aside>ul>li:nth-of-type(4)>div>div{
    position: relative;
    transform: translate(50%);
    left: 50%;
    top: -30px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.6);
}
aside>ul>li:nth-of-type(5)>div{
    background-color:rgba(0,0,0,0.6);
    color: white;
    margin: 0px 16px 0px 0px;
    font-size: 14px;
    position: absolute;
    width: 88px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 0px;
    right: 48px;
    white-space: nowrap;
    display: none;
}
aside>ul>li:nth-of-type(5)>div>div{
    position: relative;
    transform: translate(50%);
    left: 50%;
    top: -30px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.6);
}
.colo{
    color: red;
}